<h2>Mes Pokemons</h2>
    <ul class="pokemons">
      <mat-nav-list infiniteScroll [infiniteScrollDistance]="4" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"  > 
        <mat-form-field class="example-full-width">
          <mat-label>Search</mat-label>
          <input #searchBox matInput placeholder="Ex. Pikachu" id="search-box" (input)="search(searchBox.value)">
        </mat-form-field>
       <mat-list-item *ngFor="let pokemon of pokemons?.data" (click)="pick(pokemon.id)"> 
         <img pokemonsprites src="assets/img/sprites/{{pokemon.id}}.png"  width="50" height="50">
         <span class="badge">{{pokemon.id}} . {{pokemon.name}} </span> 
       </mat-list-item>
       
      </mat-nav-list>
</ul>
