.main-container{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}


.box{
    display: flex;
    flex-wrap: wrap;
  }
  
  .box>*{
    margin: auto;
  }

  .list{
      margin: auto;
  }
  
  .pokemon-card{
    height: 400px;
    width: 400px;
    margin: auto;
  }
  
  .pokemon-image{
    height: 190px;
    width: 190px;
  }

  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  
  nav a:visited, a:link {
    color: #607d8b;
  }
  
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  
  nav a.active {
    color: #039be5;
  }


  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
  }
  
  nav a:visited, a:link {
    color: #607d8b;
  }
  
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  
  nav a.active {
    color: #039be5;
  }